# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
env/
venv/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Flask
instance/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Data files
dados/db.csv
